<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registerpage</title>
    
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <style>
    .f{
        margin-left: 150px;
        /* margin-top:100px; */
        background-color: whitesmoke;
        color: dodgerblue;
        width: 70%;
        text-align: center;
        height: 630px;
      }

     
    </style>

  </head>

  <body>
    {% extends 'demo.html' %}

    {% block content %}

    <div class="container my-4">
      <div class='main'>
        <!-- Registration Form -->
        <div class='d1'>

          <form class="f py-3" action="{%url 'insert'%}" method="POST" autocomplete="off">
            {% csrf_token %}
            <caption>
              <h2>Employee Form</h2>

            </caption>
            {% if msg %}
            <p style="font-size: 20px; color: green;"> {{msg}}</p>
            {% endif %}
            <hr>
            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Id</label>
              {{ empform.eid }}
            </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Name</label>
              {{ empform.name }}
            </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Age</label>
              {{ empform.age }}
            </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Email</label>
              {{ empform.email }}
            </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Contact</label>
              {{ empform.mobile }}
            </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter Employee Salary.</label>
              {{ empform.salary }}
            </div>

            <div class="col-md-12 py-3">
                <label for="exampleInputPassword1">Enter Employee City</label>
                {{ empform.city }}
              </div>

            <br>
            <button type="submit" class="btn btn-primary">Add Employee</button>
            <br>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>

</html>
